* {
    box-sizing: border-box;
    /* border: 1px solid #ff0000; */
}

ul, ol{
    /* This resets the browsers default and removes the space 
    reserved for bullets as well as the bullets themselves.
    'list-style: none;' simply hides the bullets but does not 
    remove the space */
    margin: 0px;
    padding: 0px;
}

.title{
    text-align: center;
    font-family: Helvetica, sans-serif;
    margin: 32px 0px 24px 0px;
}

.recipe-list a{
    display: block;
    background-color: black;
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-weight: 700;
    font-family: Arial, san-serif;
    width: 70%;
    margin: 10px auto;
    padding: 25px;
}

.recipe-list a:link, .recipe-list a:visited{
    color: white;
}

.recipe-list a:hover{
    background-color: red;
}